{% extends 'base.html' %}
{% load static %}

<!-- DELETE THIS WHEN IN PRODUCTION MODE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Table Top Knights{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global_css.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a37581ab81.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Jomolhari|Montserrat&display=swap" rel="stylesheet">

</head>

{% block content %}
<div class="container-fluid dashboard-nav-a" style="margin-top: 25px;">
    <div class="row">
        <div class="col-md-2">
            <div class="jumbotron">
                <ul class="navbar-nav dashboard-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <table class="dashboard-nav-table">
                                <tr>
                                <i class="dashboard-fas fas fa-user-cog"></i>
                                </tr><tr>
                                <span class="dashboard-nav-padding dropdown-toggle">My Profile</span>
                                </tr>
                            </table>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="/editprofile">Edit Profile</a>

                        <div class="dash-divider dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log Out</a>
                        </div>
                    </li>

                    <div class="  dash-divider dropdown-divider"></div>

                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <table class="dashboard-nav-table">
                                <tr>
                                <i class=" dashboard-fas fas fa-users"></i>
                                </tr><tr>
                                <span class="dashboard-nav-padding dropdown-toggle">My Friends</span>
                                </tr>
                            </table>
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/editprofile">Friends List</a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="#">Add Friend</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Remove Friend</a>
                    </div>
                    </li>
                    <div class="dash-divider dropdown-divider"></div>

                    <li class="nav-item dropdown">
                    <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <table class="">

                    <tr>
                    <i class="dashboard-fas fas fa-calendar-alt"></i>
                    </tr>

                    <tr >
                    <span class="dashboard-nav-padding dropdown-toggle">My Events</span>
                    </tr>

                    </table>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/editprofile">My Events</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Create Event</a>

                    </div>
                    </li>
                    <div class=" dash-divider dropdown-divider"></div>

                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <table class="dashboard-nav-table">
                                <tr>
                                <i class="dashboard-fas fas fa-gamepad"></i>
                                </tr><tr>
                                <span class="dashboard-nav-padding dropdown-toggle">My Games</span>
                                </tr>
                            </table>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="/library">My Library</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/games">Add New Game</a>


                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-10">
            <div class="jumbotron">
                <div class="row ">
                    <div class="col-md-12 dashboard-top-panel">
                        <h1> Welcome To Table Top Knight! </h1>
                        <h2>We've assembled some links for you to get started: </h2>
                        <div class="row dashboard-sub-row">
                            <div class="col-md-4">
                                <a href="/editprofile"> Setup Profile </a>
                                <br/>
                                <p>or, create your <a href="/createevent">first event!</a></p>
                            </div>

                            <div class="col-md-4">
                                <h3>Next Steps:</h3>
                                <ul>
                                    <li><a href="/addgame">Add Games To Your Library</a></li>
                                    <li><a href="/createevent">Create An Event</a></li>
                                    <li><a href="/addfriend">Add Friends</a></li>

                                </ul>
                            </div>

                            <div class="col-md-4">
                                <h3>More Links:</h3>

                                <ul>
                                    <li><a href="#">Some link</a></li>
                                    <li><a href="#">Some link</a></li>
                                    <li><a href="#">Some link</a></li>

                                </ul>
                            </div>
                    </div>
                </div>

                <div class="col-md-12 dashboard-sub-row-padding">

                    <div class="row dashboard-sub-row">
                    <div class="col-md-4 dashboard-sub-panel">
                        <br/>
                        <h3> Your Notifications: </h3>
                        <div class="dropdown-divider"></div>

                        {% for notification in user.profile.getNotifications %}

                            <a href="{{ notification.link }}">{{ notification.message }}</a>

                        {% endfor %}
                    </div>

                    <div class="col-md-4 dashboard-sub-panel">
                        <br/>
                        <h3> Your Library </h3>
                        <div class="dropdown-divider"></div>


                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">Game Name</th>
                              <th scope="col">Genre</th>
                              <th scope="col">Players</th>
                            </tr>
                          </thead>

                          <tbody>
                              <tr>
                                <td>Game1</td>
                                <td>Genre1</td>
                                <td>NumPlayers1</td>
                              </tr>
                              <tr>
                                <td>Game2</td>
                                <td>Genre2</td>
                                <td>NumPlayers2</td>
                              </tr>
                              <tr>
                                  <td>Game3</td>
                                  <td>Genre3</td>
                                  <td>NumPlayers3</td>
                              </tr>
                          </tbody>
                        </table>

                    </div>

                    <div class="col-md-4 dashboard-sub-panel">
                        <br/>
                        <h3> Your Upcoming Events: </h3>
                        <div class="dropdown-divider"></div>

                    </div>

</div>
</div>
                </div>
        </div>

    </div>
</div>


{% endblock %}
