{% extends 'base.html' %}
{% load static %}

<!-- DELETE THIS WHEN IN PRODUCTION MODE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Table Top Knights{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global_css.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a37581ab81.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Jomolhari|Montserrat&display=swap" rel="stylesheet">

</head>

{% block content %}
<div class="container-fluid dashboard-nav-a" style="margin-top: 25px;">
    <div class="row">
        <div class="col-md-2">
            <div class="jumbotron">
                <ul class="navbar-nav dashboard-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <table class="dashboard-nav-table">
                                <tr>
                                <i class="dashboard-fas fas fa-user-cog"></i>
                                </tr><tr>
                                <span class="dashboard-nav-padding dropdown-toggle">My Profile</span>
                                </tr>
                            </table>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="/editprofile">Edit Profile</a>

                        <div class="dash-divider dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Log Out</a>
                        </div>
                    </li>

                    <div class="  dash-divider dropdown-divider"></div>

                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <table class="dashboard-nav-table">
                                <tr>
                                <i class=" dashboard-fas fas fa-users"></i>
                                </tr><tr>
                                <span class="dashboard-nav-padding dropdown-toggle">My Friends</span>
                                </tr>
                            </table>
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/friends">Friends List</a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="/friends/add">Add Friend</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Remove Friend</a>
                    </div>
                    </li>
                    <div class="dash-divider dropdown-divider"></div>

                    <li class="nav-item dropdown">
                    <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <table class="">

                    <tr>
                    <i class="dashboard-fas fas fa-calendar-alt"></i>
                    </tr>

                    <tr >
                    <span class="dashboard-nav-padding dropdown-toggle">My Events</span>
                    </tr>

                    </table>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/events">My Events</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/events/createevent">Create Event</a>

                    </div>
                    </li>
                    <div class=" dash-divider dropdown-divider"></div>

                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <table class="dashboard-nav-table">
                                <tr>
                                <i class="dashboard-fas fas fa-gamepad"></i>
                                </tr><tr>
                                <span class="dashboard-nav-padding dropdown-toggle">My Games</span>
                                </tr>
                            </table>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="/library">My Library</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/games">Add New Game</a>


                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-10">
            <div class="jumbotron">

                <h1> Event Details</h1>
                <p>
                Host: <small style="color: grey">{{event.host.user}}</small></p>

                <p>Date/Time: <small style="color: grey">{{event.eventDateTime}}</small></p>

                <p>Location: <small style="color: grey">{{event.location}}</small></p>

                <p>Pending Players:</p>
                <ul class="dashboard-library">
                    {% for profile in event.getPendingPlayers %}
                    <li>
                        <p> {{ profile.user.username }} </p>
                    <li>
                    {% endfor %}
                </ul>

                <p>Accepted Players:</p>
                <ul class="dashboard-library">
                    {% for user in events.attendees.user %}
                    <li>
                        <p> {{ user.username }} </p>
                        1
                    <li>
                    {% endfor %}
                </ul>

                <p>Game Options:
                {% for game in events.getFilteredGames %}
                <li class="media">
                <img src="{{ game.thumbnail_url }}" class="mr-3" alt="Image of {{ game.gameName }}.">
                <div class="media-body">
                  <a href="/games/{{ game.id }}">
                  <h3 class="mt-0 mb-1">{{ game.gameName }}</h3>
                  <h4 class="">Genre: {{ game.genre }} </h4>
                  </a>
                  {{ game.description|truncatewords:100 }}
                </div>
                </li>
                {% endfor %}

                </p>
            </div>
        </div>

    </div>
</div>


{% endblock %}
